<% begin %>
<div class="mx-auto" style="width: 600px; font-family: 'M PLUS 1', sans-serif;">
    
    <div class="start">
        <form action="/home" method="get">
            <h1 style="font-weight: bold; margin-top:64px;" class="border-bottom"><%= current_user.schools.find(@school_id).name %>
                <button type="submit" class="btn btn-link" style="padding-left:2em; padding-top:1em; display:inline;">戻る</button>
            </h1>
        </form>
        <form action="/check" method="post">
        <h1 style="font-weight: bold; margin-top:1em ;">メンバー一覧 <input type="submit" class="btn btn-secondary" value="TMS更新">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#SchoolDeleteModal">
            スクール削除
        </button>
    </h1>
    <input type="hidden" name="school" value="<%= @school_id %>">
</form></br>

<% if current_user.schools.find(@school_id).members.count == 0 %>
    <h3>メンバーがいません...</h3>
<% end %>

<% current_user.schools.find(@school_id).members.each do |member| %>
<div class="mx-auto" style="width: 600px;">
    <% if member.icon != "" %>
    <h2><%= member.name %> <img src="<%= member.icon %>" width="60" height="60">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-bs-delete="<%= member.id %>">
            削除
        </button>
    </h2>
    <% else %>
    <h2><%= member.name %> <img src="/assets/image/programming.png" width="60" height="60">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-bs-delete="<%= member.id %>">
            削除
        </button>
    </h2>
    <% end %>
    <div class="container">
    <div class="row row-col-6">
        
    <% danger_task = [] %>
    <% warning_task = [] %>
    <% safety_task = [] %>
    <% some_task = [] %>
    
    <% member.tasks.each do |task| %>
        <% begin %>
            <% if date_check(task.date) == 2 %>
                <% danger_task.push(task) %>
            <% elsif date_check(task.date) == 1 %>
                <% warning_task.push(task) %>
            <% else %>
                <% safety_task.push(task) %>
            <% end %>
        <% rescue %>
                <% some_task.push(task) %>
        <% end %>
    <% end %>
    
    <% safety_task.each do |task| %>
        <div class="col task">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ContentModal" data-bs-content="<%= task.content %>" data-bs-date="<%= task.date %>" data-bs-importance="<%= task.importance %>" style="margin: 1em;">&nbsp;&nbsp;&nbsp;</button>
            <input type="hidden" class="tms" value="<%= task.id %>">
        </div>
    <% end %>
        
    <% warning_task.each do |task| %>
        <div class="col task">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ContentModal" data-bs-content="<%= task.content %>" data-bs-date="<%= task.date %>" data-bs-importance="<%= task.importance %>" style="margin: 1em;">&nbsp;&nbsp;&nbsp;</button>
            <input type="hidden" class="tms" value="<%= task.id%>">
        </div>
    <% end %>
    
    <% danger_task.each do |task| %>
        <div class="col task">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ContentModal" data-bs-content="<%= task.content %>" data-bs-date="<%= task.date %>" data-bs-importance="<%= task.importance %>" style="margin: 1em;">&nbsp;&nbsp;&nbsp;</button>
            <input type="hidden" class="tms" value="<%= task.id%>">
        </div>
    <% end %>
    
    <% some_task.each do |task| %>
        <div class="col task">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ContentModal" data-bs-content="<%= task.content %>" data-bs-date="<%= task.date %>" data-bs-importance="<%= task.importance %>" style="margin: 1em;">&nbsp;&nbsp;&nbsp;</button>
            <input type="hidden" class="tms" value="<%= task.id %>">
        </div>
    <% end %>
    
    </div>
    </div>

    </div> <!-- col -->

<% end %>


<button type="button" class="btn btn-primary mx-auto" style="width: 200px; margin-top: 20px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新規メンバー登録
</button>
</div>


<!-- メンバー登録用モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新規メンバー登録</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding:1em;">
                <p style="margin-left:1em;">メンバー登録</p>
                <form action="/school/<%= @school_id %>/members/add" method="post" enctype="multipart/form-data">
                    <input style="margin-left:1em; margin-bottom:1em;" type="text" name="name" placeholder="ニックネーム"></br>
                    <!--<input type="text" name="cource" placeholder="コース名を入力してください">-->
                    <input style="margin-left:1em;" type="text" name="url" placeholder="TMS_URL"></br>
                    <input style="margin:1em;" type="file" name="icon"></br>
                    <input style="margin-left:1em;" class="btn btn-primary" type="submit" value="登録">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- タスク表示用モーダル -->
<div class="modal fade" id="ContentModal" tabindex="-1" role="dialog" aria-labelledby="ContentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ContentModalLabel">TMS情報</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="tms">
                <div class="content"></div></br>
                <div class="date"></div></br>
                <div class="importance"></div></br>
            </div>
        </div>
    </div>
</div>

<!-- メンバー削除モーダル -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">警告</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <form action="/school/members/del" method="post" id="tms_delete">
            <button type="submit" class="btn btn-primary">削除</button>
            <input type="hidden" name="id" class="delete" value="">
            <input type="hidden" name="school" value="<%= @school_id %>">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- スクール削除モーダル -->
<div class="modal fade" id="SchoolDeleteModal" tabindex="-1" aria-labelledby="SchoolDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SchoolDeleteModalLabel">警告</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <form action="/school/del" method="post">
            <button type="submit" class="btn btn-primary">削除</button>
            <input type="hidden" name="school" value="<%= @school_id %>">
        </form>
      </div>
    </div>
  </div>
</div>




<% rescue %>
<h3 class="border-bottom">エラーです…もういちどログインしてください</h3>
<form action="/logout" method="post">
    <input class="btn btn-link" type="submit" value="こちらから">
</form></br>
</div>
<% end %>

<script>
    var Modal = document.getElementById('ContentModal');
    Modal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var recipient_Content = button.getAttribute('data-bs-content');
        var recipient_Date = button.getAttribute('data-bs-date');
        var recipient_importance = button.getAttribute('data-bs-importance');
        
        if (recipient_importance == "3") {
            recipient_importance = "★★★"
        } else if (recipient_importance == "2") {
            recipient_importance = "☆★★"
        } else if (recipient_importance == "1") {
            recipient_importance = "☆☆★"
        } else {
            recipient_importance = "others"
        }
        
        $("#tms .content").text(recipient_Content);
        $("#tms .date").text(recipient_Date);
        $("#tms .importance").text(recipient_importance);
        console.log("呼ばれました")
    });
    
    var delete_modal = document.getElementById('DeleteModal');
    delete_modal.addEventListener('show.bs.modal', function(event) {
        var button = event.relatedTarget;
        var recipient_member = button.getAttribute('data-bs-delete');
        
        $("#tms_delete .delete").val(recipient_member);
        console.log(recipient_member)
    });
    

    $(function() {
        $('.start').hide().fadeIn('slow');
    });
</script>
